<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tticareer.hrms.mapper.OverWorkMapper">
  <resultMap id="BaseResultMap" type="com.tticareer.hrms.pojo.OverWork">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="employee_Id" jdbcType="BIGINT" property="employeeId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
</mapper>