<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tticareer.hrms.mapper.OverWorkMapper">
  <resultMap id="BaseResultMap" type="com.tticareer.hrms.pojo.OverWork">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="overWorkId" jdbcType="BIGINT" property="overworkid" />
    <result column="employeeId" jdbcType="BIGINT" property="employeeid" />
    <result column="overWorkTime" jdbcType="TIMESTAMP" property="overworktime" />
    <result column="overWorkDuration" jdbcType="VARCHAR" property="overworkduration" />
    <result column="overWorkContent" jdbcType="VARCHAR" property="overworkcontent" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
</mapper>