<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tticareer.hrms.mapper.SalaryDetailMapper">
  <resultMap id="BaseResultMap" type="com.tticareer.hrms.pojo.SalaryDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="basic_salary" jdbcType="DECIMAL" property="basicSalary" />
    <result column="bonus" jdbcType="DECIMAL" property="bonus" />
    <result column="subsidy" jdbcType="DECIMAL" property="subsidy" />
    <result column="over_work_salary" jdbcType="DECIMAL" property="overWorkSalary" />
    <result column="attendance_deduction" jdbcType="DECIMAL" property="attendanceDeduction" />
    <result column="salary_total" jdbcType="DECIMAL" property="salaryTotal" />
    <result column="now_year_month" jdbcType="TIMESTAMP" property="nowYearMonth" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
</mapper>